*{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
   
}
body{
   background-image: url("images/table.jpg");
    opacity: 0.8;

    
}


h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style:italic;
    text-align: center;
    text-shadow: 2px 2px grey;
}
 
header{
    color:yellow;
    text-decoration: double;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 2px red;

}
header>img{
    display: block;
  margin-left: auto;
  margin-right: auto;
 
  padding: 0px 34px 0px 20px;
  opacity:2px;
}






p
{
  text-align: left;
  font-size: larger;
  font-weight: bolder;
  padding: 15px 15px 15px 15px;
  text-transform: uppercase;
  color:white;
 
  font-weight: bolder;
  text-decoration: overline underline;
line-height: 30px;
   text-decoration-color:blue;


}

#para2{
    text-align: right;

}



ul{
    
    box-sizing: border-box;
    padding: 0px 34px 0px 20px;
    text-align: left;
}


.c1{
    background-color:pink;

    
    display:inline-block;
    line-height: 35px; 
    word-spacing: 3px;
    box-sizing: border-box;
    vertical-align:middle;
    border: 70px;
    border-color: black;
    border-radius: 25px;
    margin: 25px;
    font-style: oblique;
    color:green;
    padding: 0px 34px 0px 33px;
    overflow:auto;
}


 
    


.container{
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    flex-direction: row;
    align-content: flex-end;
    justify-content: space-around;
    
}



.c2{
    background-color:pink;
    
    display:inline-block;
    line-height: 30px; 
    word-spacing: 3px;
    box-sizing: border-box;
    vertical-align:middle;
    border: 70px;
    border-color: black;
    border-radius: 25px;
    margin: 25px;
    font-style: oblique;
    padding: 5px 34px 0px 33px;
    color:rgb(235, 7, 243);
    overflow:auto;
    

    
    
      
    
}



.c3{
    background-color: pink;
    
    display:inline-block;
    line-height: 30px; 
    word-spacing: 3px;
    box-sizing: border-box;
    vertical-align:middle;
    border: 70px;
    border-color: black;
    border-radius: 25px;
    margin: 25px;
    font-style: oblique;
    padding: 0px 34px 25px 33px;
    color:red;  
    overflow:auto;

    
}

@media screen and (max-width: 850px) {
    .container {
           flex-wrap: wrap;
    }
}



ul:hover{
   background-color:darkgray;
}





header>img{
  position: relative;
  animation: rotation 5s infinite linear ;
  animation-direction: alternate;
}


@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }


  p{
    position: relative;
  animation: mymove 5s infinite;
  animation-direction: alternate;
}


@keyframes mymove {
    from {top: 0px;}
    to {top: 200px;}
  }

  



@keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
}




